*{
    font-family: "Inter", sans-serif;
}
body{
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    background-color: hsl(0, 0%, 8%);
}

#main{
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#photo img{
    border-radius: 60%;
    margin-top: 15%;
}

#title{
    color: hsl(0, 0%, 100%);
    text-align: center;
}

#title h4{
    color: hsl(75, 94%, 57%);
}

#title p{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

#social button{
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    height: 40px;
    width: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    border: 0;
    transition: ease-in-out .3s;
}

#social button:hover{
    transition: ease-in-out .3s;
    background-color: hsl(75, 94%, 57%);
}

#social a{
    text-decoration: none;
}